/* basic calendar layout */

body {
  margin-left: 10px;
  margin-right: 10px;
}

td > div {
  display: flex;
}

.dayCellMonthView {
  width: 75px;
  height: 75px;
}

.createNewEventsArea {
  background-color: whitesmoke;
}

.currentDateStyle > h1 {
  /* background-color: oldlace !important; */
  color: coral;
}

/* eventDisplay */

.displaySelectedEventCategorySpan {
  margin-right: 10px;

}

.displaySelectedEventTimeSpan {
  float: right;
}
/* categoryDisplay */

#categoryContainer {
  display: flex;
  justify-content: stretch;
}

#categories {
  width: 70%;
}

#categoryPostContainer {
  width: 30%;
}



#allCategoriesDisplay {
  list-style: none;
}

.reducedMargin {
  margin-bottom: -10px !important;
  margin-top: 10px !important;
}

.flexCategory {
  display: flex !important;
  padding: 5px;
}

.hideCategory {
  background-color: gray !important;
  color: aliceblue;
}

#categoryNameInput {
  margin-bottom: -20px;
}

p:nth-child(1) {
  width: 50%;
}


/* navigation bar */
#yearNavigation {
  display: flex;
  /* justify-content: space-between; */
}

#monthNavigation {
  display: flex;
  margin-top: -30px;
}

.ui.button {
  position: relative;
  margin-top: 22px;
}

.mainDisplay {
  width: 45%;
  vertical-align: middle;
  text-align: center;
}

.button {
  height: 70%;
}

#weekView {
  margin-left: auto;
  margin-right: 2px;
}



.red {
  border-color: red !important;
}

.hideImage {
   display: none;
}
